<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nano Link</title>
</head>
<body>
    <h1>Hey! Welcome to Nano Link!</h1>
    <ol>
        <% urls.forEach(url => { %>
        <li><%= url.shortID %></li>  
        <% }); %>
    </ol>  
</body>
</html>